@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700');

/*--------------------------------------------------------------Colours */

header {
    background-color: rgba(1, 1, 129, 0.3);
    color: #000080;
}

.navbar-dark .navbar-brand {
    color: #ffc626;
}

.btn-primary {
    color: #000080;
    background-color: rgb(255, 198, 38);
    border-color: #dc3545;
}

.name {
    color: #ffc626;
}

.main-content {
background-color: #faebd7;
    color: #000080;
}

.sidepanel {
    background-color: rgba(1, 1, 129, 0.3);
    color: #000080;
}

footer {
    background-color: rgba(1, 1, 134, 0.6);
    color: #ffc626;
}


/*--------------------------------------------------------------Navbar */

.navbar-brand {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 700;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*--------------------------------------------------------------Heading */

header {
    margin: 0;
}


.logo {
    background: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 280px;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#middle-part {
    margin: 0;
    text-align: center;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.name {
    font-family: "Sedgwick Ave Display", cursive;
}

.subtitle {
    font-family: "Caveat";
    font-weight: 700;
}


.third-line {
    font-family: "Caveat";
    font-weight: 700;
}

.additional-info {
    font-family: "Caveat";
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.translation {
    font-family: "Caveat";
    font-weight: 700;
    text-align: center;
    font-size: 17px;
    color: #000080;
    background-color: #fdc625;
    width: 100%;
    border: 0;
    border-color: #dc3545;
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 0px;
    border-style: solid;
}

.translation a {
    color: #6666a2;
    font-weight: 700;
}

.info-details {
    font-family: "Caveat";
    font-weight: 700;
    text-align: left;
    border: double;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .name {
        font-size: 8vw;
    }
    .subtitle {
        font-size: 4vw;
    }
    .third-line {
        font-size: 2vw;
    }
    .translation {
        font-size: 1.5vw;
    }
}

/*--------------------------------------------------------------Main content */

.main-content {
    position: relative;
    right: 0;
}

.micasa {
    font-family: "Sedgwick Ave Display", cursive;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.restaurant-history {
    font-family: "Caveat";
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*--------------------------------------------------------------Sidepanel */

.sidepanel-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.sidepanel {
    font-family: "Caveat";
    font-weight: 700;
    font-size: 20px;
    border-style: double;
    max-width: 25%;
    padding: 10px 0;
}

.sidepanel button {
    font-family: "Caveat";
    font-weight: 700;
    text-align: center;
    font-size: 17px;
    color: #000080;
    background-color: #fdc625;
    width: 100%;
    border: 0;
    border-color: #dc3545;
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 0px;
    border-style: solid;
    margin-top: 20px;
}

/*--------------------------------------------------------------Footer */

footer {
    font-family: "Caveat";
    font-size: 3vw;
    font-weight: 700;
    padding-top: 10px;
}

#footer-content {
    margin-left: 5px;
    margin-right: 5px;
}

#footer-content .col {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a {
    color: #ffc626;
}
