@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700');

/*--------------------------------------------------------------Colours */

header {
    background-color: rgba(8, 8, 105, 0.62);
    color: #fdc625;
}

.navbar-light .navbar-brand {
    color: #ffc626;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 132, .75);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(253, 198, 37);
}


.btn-primary {
    color: #6666a2;
    background-color: #fdc625;
    border-color: #dc3545;
}

.main-content {
    background-color: rgba(253, 198, 37, 0.48);
}

.sidepanel {
    background-color: #6666a2;
    color: #fdc625;
}

footer {
    background-color: rgb(76, 76, 121);
    color: #ffc626;
}


/*--------------------------------------------------------------Navbar */

.navbar-brand {
    font-family: "Sedgwick Ave Display", cursive;
    color: #fdc625;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-container {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #6666a2;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    color: #fdc625;
    border-color: #fdc625;
}

.navbar-light .navbar-brand {
    color: #fdc625;
}

.navbar .nav-link {
    text-align: justify;
    color: #fdc625;
    font-family: "Sedgwick Ave Display", cursive;
}



/*--------------------------------------------------------------Heading */

header {
    margin: 0;
}


@media (min-width: 1024px) {
    .heading {
        margin-top: 0;
    }
}

.logo {
    background: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 280px;
    background-position: center;
    margin-top: 10px;
}

.middle-part {
    margin: 20px 5px 10px 5px;
    font-family: "Sedgwick Ave Display", cursive;
    text-align: center;
    width: 100%;
}

.name {
    font-size: 7vw;
}

.subtitle {
    font-size: 4vw;
}

.third-line {
    font-size: 3vw
}


.additional-info {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.translation {
    text-align: center;
    font-size: 17px;
    color: #000080;
    background-color: #fdc625;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    border: 0;
    border-color: #dc3545;
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 0px;
    border-style: solid;
}

.translation a {
    color: #6666a2;
    font-weight: 700;

}

.info-details {
    text-align: left;
    border: double;
    margin: 10px 10px 10px 0px;
}

/*--------------------------------------------------------------Navpanel */

.navpanel-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.navpanel {
    font-family: "Sedgwick Ave Display";
    font-size: 20px;
    border-style: double;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn-primary {
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*--------------------------------------------------------------About */

.about {
    position: relative;
    right: 0;
}


.micasa {
    font-family: "Sedgwick Ave Display", cursive;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.restaurant-history {
    font-family: "Caveat", cursive;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*--------------------------------------------------------------Sidepanel */

.sidepanel-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.sidepanel {
    font-family: "Sedgwick Ave Display";
    font-size: 20px;
    border-style: double;
    max-width: 25%;
    padding: 10px 0;
}

/*--------------------------------------------------------------Footer */

footer {
    font-family: "Caveat", cursive;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
}

.contact-details {
    text-align: center;
    font-size: 4vw;
}

.social-links {
    text-align: center;
    font-size: 3vw;
}


